
header{
    grid-area:hd;
    display: grid;
    color: Gold;
    border: 3px solid gold;
    top: 0;
    width: 100%;
}
nav{
    grid-area: nv;
    border: 3px solid red;
    position: fixed;
    grid-template-columns: 1fr 1fr 1fr;
    text-align:center;
    display: grid;
    align-items: stretch; 
}
main{
grid-area: mn;
border: 3px solid blue;
display: grid;
}
footer{
    grid-area:ft;
    border: 3px solid green;
    display: grid;
}
.wrapper{
    display:grid;
    border: 3px solid black;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "hd"
    "nv"
    "mn" 
    "ft";
}